ua-layout {
  display: block;

  > md-content {
    > header {
      > md-toolbar {
        height: 240px;
        max-height: none;
        padding: 2em 0;
      }

      > md-content > md-menu-bar {
        padding: 0;
      }
    }
  }
}
